header {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

h1 {
    padding-right: 15px;
}

.input-group {
    flex-direction: column;
    align-content: flex-start;
}

#button-addon2 {

}